/* body {
    color: white;
  }
   */
  .split {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* .left {
    left: 0;
    background-color: #111;
  }
  
  .right {
    right: 0;
    background-color: white;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
 */

* {
  box-sizing: border-box;
}

.greddiit-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 940px;
  margin: auto;
  height: 800px;
  margin-bottom: 50px;
}
.greddiit-container > div {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 300px;
  height: 600px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
}
.tag {
  background: #777;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: white;
  padding: 2px 10px;
  text-transform: uppercase;
}

.tag-teal {
  background-color: #92d4e4;
}
.tag-purple {
  background-color: #6e1c86;
}
.tag-pink {
  background-color: #e7316e;
}
.card-body h4 {
  margin: 10px 0;
}
.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: 0;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: black;
}

@media (max-width: 940px) {
  .container {
      grid-template-columns: 1fr;
      justify-items: center;
      margin-top: 20px;
  }
}


/* .upvote-icon, .downvote-icon {
  cursor: pointer;
}

.upvote-icon:hover, .downvote-icon:hover {
  color: blue;
} */


.upvote-icon, .downvote-icon {
  cursor: pointer;
  color: blue;
}

.upvote-icon:hover, .downvote-icon:hover {
  color: red;
}



.material-icons {
  cursor: pointer;
  font-size: 24px;
  color: #000;
  margin-right: 10px; /* add a little bit of space between the icons */
}

.material-icons:hover {
  color: #0077c0;
}


.greddiit-info
{
  color: black;
  margin-left: 10%;
  height: 400px;
  width: 300px;
  background-image: url('sky2.jpg');
  text-align: center;
  padding-top: 100px;
}


.posts-area
{
  margin-left: 30%;
  /* background-color: black; */
  height: 700px;
}

.post-data
{
  color: #000;
}


.post-content
{
  margin-bottom: 20px;
}


.app {
  display: grid;
  grid-template-columns: 20% 80%;
}

.main-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 20px;
}

.greddit-info-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.posts-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
